<!doctype html>
<html ng-app="myApp">
<head>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
</head>
<body>
  <!--{{name}}-->
  <!--<div ng-controller="MyController">-->
    <!--{{name}}-->
    <!--<br>-->
    <!--{{person.name}}-->
  <!--</div>-->

  <!--<div ng-controller="ParentController">-->
    <!--<div ng-controller="ChildController">-->
      <!--<input type="text" ng-model="person.name" placeholder="Name"></input>-->
      <!--<a ng-click="sayHello()">Say hello</a>-->
    <!--</div>-->
    <!--{{ person }}-->
  <!--</div>-->
  <div class="panel panel-primary">
    <div class="panel-body">
      Basic panel example
    </div>
  </div>

  <div ng-controller="PlayerController" >
    <button ng-click="play()" class="button" ng-show="!playing">Play</button>
    <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
    Playing audio: <b>{{ playing }}</b>

    <ul id="programs_list" class="">
      <li ng-repeat="program in programs">
        <span npr-link play='play(program)' ng-model="program" width="500" height="600"></span>
      </li>
    </ul>
  </div>

  <div hello>
    <ul>
      <li>bob</li>
      <li>ivan</li>
    </ul>
  </div>

  <div np-controller="RelatedController"></div>

  <ul ng-repeat="i in [1,2,3,4]">
    <li>{{i}}</li>
  </ul>

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="./js/jquery-2.1.4.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="./js/bootstrap.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/main.js"></script>
</body>
</html>