<!doctype html>
<html ng-app="MyApp">
<head>
  <meta charset="utf-8"/>
  <title>基础学习</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <!--常量学习-->
  <div ng-controller="constantCtrl">
    <ul>
      <li ng-repeat="sexy in sex">
        {{sexy}}
      </li>
    </ul>
  </div>
  <!--log学习-->
  <div ng-controller="logCtrl">
    log
  </div>
  <!--invoke another file service-->
  <div ng-controller="invokeCtrl">
    {{name}}, {{age}}
  </div>

  <div ng-controller="ngBindTemplateCtrl">
    Salutation: <input type="text" ng-model="salutation"><br>
    Name: <input type="text" ng-model="name"><br>
    <pre ng-bind-template="{{salutation}} {{name}}!"></pre>
  </div>

  <input ng-copy="copied=true" ng-init="copied=false; value='copy me'" ng-model="value">
  copied: {{copied}}

  <br/>
  <!--test ng-if -->
  Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br/>
  Show when checked:
  <span ng-if="checked" class="animate-if">
    This is removed when the checkbox is unchecked.
  </span>

  <!-- ng model options -->
  <div ng-controller="ngModelOptionsCtrl">
    <form name="userForm">
      Name:
      <input type="text" name="userName"
             ng-model="name"
             ng-model-options="{ updateOn: 'blur', getterSetter: true}"/><br />
    </form>
    <pre ng-open="open" ng-init="open=true">name = {{name()}}</pre>
  </div>

  <div ng-controller="pluralizeCtrl">
    Person 1:<input type="text" ng-model="person1" value="Igor" /><br/>
    Person 2:<input type="text" ng-model="person2" value="Misko" /><br/>
    Person 3:<input type="text" ng-model="person3" value="Rick" /><br/>
    Number of People:<input type="text" ng-model="personCount" value="1" /><br/>

    <!-- Example with simple pluralization rules for en locale -->
    Without Offset:
    <ng-pluralize count="personCount"
                  when="{'0': 'Nobody is viewing.',
                       'one': '1 person is viewing.',
                       'other': '{} people are viewing.'}">
    </ng-pluralize><br>

    <!-- Example with offset -->
    With Offset(3):
    <ng-pluralize count="personCount" offset=3
                  when="{'0': 'Nobody is viewing.',
                       '1': '{{person1}} is viewing.',
                       '2': '{{person1}} and {{person2}} are viewing.',
                       '3': '{{person1}} and {{person2}} and {{person3}} are viewing.',
                       'one': '{{person1}}, {{person2}} and {{person3}} and one other person are viewing.',
                       'other': '{{person1}}, {{person2}} and {{person3}} and {} other people are viewing.'}">
    </ng-pluralize>
  </div>


  <div ng-controller="switchCtrl">
    <select ng-model="selection" ng-options="item for item in items">
    </select>
    <tt>selection={{selection}}</tt>
    <hr/>
    <div class="animate-switch-container"
         ng-switch on="selection">
      <div class="animate-switch" ng-switch-when="settings">Settings Div</div>
      <div class="animate-switch" ng-switch-when="home">Home Span</div>
      <div class="animate-switch" ng-switch-default>default</div>
    </div>
  </div>

  <script src="lib/angular.js"></script>
  <script src="js/common/data.js"></script>
  <script src="js/app.js"></script>
</body>
</html>